@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.mainContainer {
    height: 100vh;
    background-color: #2b6777;
}

.header {
    height: 35vh;
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
}

.featuresList {
    height: 45vh;
}

.featureIcons {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: 3px #52ab98 solid;
    transition: .4s ease-out;
}

.featureIcons:hover {
    border: 10px solid #52ab98;
    box-shadow: 0 0 10px #62fbda;
    transition: .2s ease-in;
}

.lakoimg {
    height: 20vh !important;
}

.lakop {
    margin: 0px;
    font-size: 4rem;
    letter-spacing: 1mm;
    text-shadow: 0 0 8px rgb(187, 183, 183);
}

.badge {
    position: absolute;
    background-color: red;
    color: white;
    padding: 4px 30px;
    text-align: center;
    border-radius: 5px;
  }